@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/sf-pro-display-regular.woff2) format('woff2');
}

html {
  scroll-behavior: smooth;
}

input:focus-visible {
  outline-offset: 0px;
  outline: none;
}
